.App {
  font-family: 'Baloo Da 2';
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: #e3f2fd
}

a:hover {
  color: #DB5461
}

body {
  overflow: hidden;
}

div.container {
  position: relative;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 95vh;
  width: 100vw;
  top: 5vh;
}

nav {
  position: absolute;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #5D576B;
  min-height: 5vh;
  max-height: 5vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

section {
  position: relative;
  width: 100vw;
  height: inherit;
}

section.scroll-snap {
  position: relative;
  height: inherit;
  width: 100vw;
  scroll-snap-align: start;
}

ul {
  margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.color-01 {
  background-color: #FAFAFA;
}

.color-text-01 {
  color: #FAFAFA;
}

.color-02 {
  background-color: #e3f2fd;
}

.color-text-02 {
  color: #e3f2fd;
}

.color-03 {
  background-color: #DB5461;
}

.color-text-03 {
  color: #DB5461;
}

.color-04 {
  background-color: #686963;
}

.color-text-04 {
  color: #686963;
}

.color-05 {
  background-color: #8aa39e;
}

.color-text-05 {
  color: #8aa39e;
}

.contact-form {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.contact-form button {
  font-family: 'Baloo Da 2';
  font-weight: 500;
  border-radius: 100px;
  padding: 0vw 1vw 0vw 1vw;
  font-size: 16px;
  margin: 1em;
  border: 2px #686963;
}

.contact-form button:hover {
  background-color: #8aa39e;
}

.contact-form button:focus {
  outline: none;
}

.contact-form input[type='text']{
  width: 25vw;
  font-family: 'Baloo Da 2';
  font-size: 15px;
  border: 2px solid #686963;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  vertical-align: sub;
}

.contact-form input:focus {
  outline: none;
}

.contact-form textarea {
  display: inline-block;
  width: 25vw;
  height: 20vh;
  border-radius: 10px;
  border: 2px solid #686963;
  vertical-align: sub;
  word-wrap: normal;
  font-size: 15px;
  padding: 10px;
  font-family: 'Baloo Da 2';
}

.contact-form textarea:focus {
  outline: none;
}

.contact-form span {
  display: inline-block;
  margin-top: 10px;
  vertical-align: center;
}

@media only screen and (max-width: 800px) {
  .contact-form input[type='text'] {
    width: 50vw;
  }

  .contact-form textarea {
    width: 50vw;
  }

  .contact-form button {
    padding: 0vw 1.5vw 0vw 1.5vw;
  }
}

.download-link {
  cursor: pointer;
}

.home-div-header h3 {
  font-family: 'Baloo Da 2';
  font-weight: 500;
  display: block;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 30vw;
  width: 100vw;
  font-size: 60px;
  text-align: left;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 0;
  margin-top: 0;
}

.home-div-header h4 {
  font-family: 'Baloo Da 2';
  font-weight: 300;
  display: block;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 30vw;
  width: 100vw;
  font-size: xx-large;
  text-align: left;
  letter-spacing: normal;
  line-height: normal;
}


@media only screen and (max-width: 500px) {
  .home-div-header h3 {
    left: 0;
    text-align: center;
  }

  .home-div-header h4 {
    left: 0;
    text-align: center;
  }
}

.home-link {
  width: 10vw;
  font-size: x-large;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding: 0;
}

.home-link:hover{
  color: #DB5461
}

.job-summary-div {
  position: relative;
}

.job-summary-list{
  list-style: none;
}

.job-summary-list li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 700px) {
  .job-summary-list {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

.nav-links {
  font-family: 'Baloo Da 2';
  font-size: 14px;
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  cursor: pointer;
  padding-right: 5vw;
}

.nav-links > a {
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  margin-left:10px;
}

.nav-links li {
  padding-right: 2vw;
}

.nav-links a:hover{
  color: #DB5461
}

.no-text-shadow {
  text-shadow: none;
}

.resume-list {
  display: inline-block;
  width: 25vw;
}

.resume-list-center {
  justify-content: center;
}

.resume-list-item {
  line-height: 2.5vh;
  text-align: left;
}

.scroll-span {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  cursor: pointer;
  width: 100vw;
  top: 85vh;
}

.scoll-span > span {
  position: relative;
  left: -50%;
}

.section-content {
  height: 50vh;
  width: 100vw;
}

.section-header {
  position: relative;
  font-size: xx-large;
  margin-top: 0;
  margin-top: 0;
}

.skills-div {
  display: inline-block;
  background-color: salmon;
  width: 100%;
  animation: Fill-left-right 1s forwards cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.section-div-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
}

@media only screen and (max-height: 800px) {
  .section-div-container {
    justify-content: start;
    padding-top: 15vh;
  }

  .skills-container {
    padding-top: 5vh;
  }
}

.skill-summary-background {
  position: absolute;
  background-image: url("/shutterstock_666668977-min.jpg");
  background-size: cover;
  background-position-x: center;
  opacity: 0.3;
  height: 100%;
  width: 100%;
}

.job-summary-background {
  background-image: url("/785526430-huge-min.jpg");
  background-size: cover;
  background-position-x: center;
  opacity: 0.3;
  height: 100%;
  position: absolute;
  width: 100%;
}

.contact-form-background {
  background-image: url("/shutterstock_407664883-min.jpg");
  background-size: cover;
  background-position-x: center;
  opacity: 0.5;
  height: 100%;
  position: absolute;
  width: 100%;
}

.test4{
  background-image: url();
  background-size: cover;
  opacity: 0.5;
  height: 100%;
  min-height: 100vh;
  color: black;
  position: absolute;
  width: 100%;
  background-position: -10vw;
}

@media only screen and (max-height: 640px) {
  .scroll-span {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .contact-form-background {
    background-position-x: center;
  }

  .job-summary-background {
  }
}

.skills-div-animate {
  animation: shrink 1s forwards;
}

.skill-summary-list-container {
  background-color: #8aa39e;
  opacity: 1.0;
  position: relative;
  width: 70vw;
  align-self: center;
  display: inline-flex;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.4);
}

.skill-summary-list-container > .skills-columns-container {
  width: 100%;
  height: inherit;
  display: inline-flex;
  flex-direction: row;
  border-top: 5px solid #db5461;
  border-radius: 15px;
}

.skills-columns-container p {
  font-size: 20px;
}

.skills-columns-container span {
  width: 25vw;
}

.skills-columns-container span:first-child {
  border-right: 4px solid #FAFAFA;
}

.skills-columns-container span:last-child {
  border-left: 4px solid #FAFAFA;
}

.skills-columns-container ul {
  list-style: none;
  padding: 0;
  margin-bottom: 5vh;
}

@media only screen and (max-width: 640px) {
  
  .skill-summary-list-container {
    width: 90vw;
  }

  .skills-columns-container span {
    width: 30vw;
  }

  .skills-columns-container p {
    text-align: center;
    font-size: 16px;
  }
}

.slide-from-left {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  animation: slide-in-left 1s forwards;
}

.slide-from-right {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  animation: slide-in-right 1s forwards;
}

@keyframes slide-in-left {
  100% { transform: translateX(0%); }
}

@keyframes slide-in-right {
  100% { transform: translateX(0%); }
}

@keyframes expand {
  from {
    width: 50%;
  }
  to {
    width: 100%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #686963;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DB5461;
  border-radius: 15px;
}